/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Tinos');


html {
  /*-- Main font sizes --*/
  --title-size:      60px;
  /*-- Main font colors --*/
  --title-color:     #002f65;
  /*-- Specify custom fonts ~~~ must be imported above   --*/\
  --heading-font:      "Tinos", serif;

}

h1 {
   text-align: center; 
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */


/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

